html {
	box-sizing: border-box;
	font-family: 'Kumbh Sans', sans-serif;
}

body {
	background: url('./images/bg-pattern-top.svg'),
		url('images/bg-pattern-bottom.svg') hsl(185, 75%, 39%);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-repeat: no-repeat, no-repeat;
	background-size: 200%, 250%;
	background-position-y: -400px, 350px;
	background-position-x: -550px, 170px;
}

/* shared */
.card-img,
#user-info,
#stats {
	display: flex;
	justify-content: center;
	align-items: center;
}

.user-name,
.stats-count {
	font-size: 18px;
	font-weight: 700;
}

.user-age,
.stats-text {
	font-weight: 400;
}

.user-location,
.user-age,
.stats-text {
	color: hsl(0, 0%, 59%);
}

/* unique - in order */
#card {
	width: 90%;
	height: auto;
	margin: 0 auto;
	background-color: white;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

#banner-img img {
	border-radius: 1rem 1rem 0 0;
	width: 100%;
}

.card-img {
	position: relative;
	bottom: 60px;
}

.card-img img {
	border-radius: 50%;
	border: 5px solid white;
}

#user-info {
	flex-direction: column;
	margin-top: -40px;
}

.user-age {
	margin-left: 0.25rem;
}

.user-location {
	font-size: 16px;
	margin: 1rem 0 2rem;
}

#stats {
	border-top: 1px solid hsl(0, 0%, 90%);
	padding: 2rem 0;
}

.stats-count {
	margin: 0 2rem;
}

.stats-text {
	display: block;
	text-align: center;
	margin-top: 0.5rem;
	font-size: 12px;
	letter-spacing: 2px;
}

@media (min-width: 1224px) {
	body {
		background-size: 70%, 70%;
		background-position-y: -800px, 500px;
		background-position-x: -400px, 900px;
	}

	#card {
		width: 100%;
	}
}
